<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Form Ubah Data Kontak</h2>
        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
        <div class="alert alert-danger" role="alert">
          <ul style="list-style: none">
            <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
            <% }) %>
          </ul>
        </div>
        <% } %>
  
        <form method="post" action="/contact/update">
          <div class="mb-3">
            <label for="name" class="form-label">Nama</label>
            <input type="hidden" id="oldName" name="oldName" value="<%= contact.oldName || contact.name %>">
            <input
              type="name"
              class="form-control"
              id="name"
              name="name"
              required
              value="<%= contact.name %>"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
              value="<%= contact.email %>"
            />
          </div>
          <div class="mb-3">
            <label for="phoneNumber" class="form-label">Nomor Handphone</label>
            <input
              type=""
              class="form-control"
              id="phoneNumber"
              name="phoneNumber"
              required
              value="<%= contact.phoneNumber %>"
            />
          </div>
  
          <button type="submit" class="btn btn-primary">
            <i class="bi bi-save"></i> Ubah data kontak
          </button>
        </form>
      </div>
    </div>
  </div>